.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
    color: #777777;
}

body {
  background: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/bg.jpg);
}

p {
  
   color: #777777;
}

.cbp-so-scroller img {
  width: 100%;
  height: 100%;
  border-radius: 12%;
  overflow: hidden;
  box-shadow:
    inset 0 0 0 0 rgba(200,95,66, 0.4),
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
}

.cbp-so-scroller {
	margin-top: 50px;
	overflow: hidden;
}

.cbp-so-section {
	margin-bottom: 5em;
	position: relative;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section h2 {
	font-size: 5em;
	font-weight: 300;
	line-height: 1;
    color: #C74200;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.cbp-so-section p {
	font-size: 2em;
	font-weight: 300;
}

/* Sides */
.cbp-so-side {
	width: 40%;
	float: left;
	margin: 0;
	padding: 1em 4%;
	overflow: hidden;
	min-height: 1em;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
}

.cbp-so-side-left {
	text-align: right;
}

.cbp-so-side-right img {
  float: left;
}

.cbp-so-side-left img {
  float: right;
}


/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-150px);
	-moz-transform: translateX(-150px);
	transform: translateX(-150px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(150px);
	-moz-transform: translateX(150px);
	transform: translateX(150px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition: -webkit-transform 1s, opacity 0.5s;
	-moz-transition: -moz-transform 1s, opacity 0.5s;
	transition: transform 1s, opacity 0.5s;
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	transform: translateX(100px);
	opacity: 1;
}

footer {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	padding: 0 0 0.6em 0.1em;
    color: #777777;
}

footer a {
  color: #C74200;
}

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
}
